.order_data_component {
    .__header {
        font-size: 20px;
        letter-spacing: 7px;
        color: #146F62;
        font-weight: bold;
        margin-bottom: 15px !important;
        // padding-left: 1rem
    }

    // margin-left: 17px;
    // margin-right: 20px;
    .formCard {
        display: flex;


        .__body {
            width: 100%;
            box-shadow: 0px 0px 4px #000000B3;
            border-radius: 8px;
            background: #ffffff;
            padding: 32px 91px 32px 87px;

            .fourInputs {
                display: flex;
            }

            .inputField {
                margin-bottom: 24px !important;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        button {
            background: #146F62 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000099;
            border-radius: 4px;
            opacity: 1;
            width: 284px;
            height: 35px;
            border: none;
            margin-right: 1rem;
            color: #FFFFFF !important;
            font-weight: bold;

        }

        .cancel {
            background: transparent;
            box-shadow: none;
            // border-radius: 4px;
            border: none;
            opacity: 1;
            width: 284px;
            height: 35px;
            border: none;
            margin-right: 1rem;
            color: #BC0000 !important;

            &:hover {
                background: #E1E1E1 0% 0% no-repeat padding-box;
                border-radius: 2px;
                opacity: 1;
            }
        }
    }



}