.add_provider {
    font-family: 'Montserrat' !important;
    justify-content: center;
    align-items: center;
    display: flex;

    .add_provider_content {
        box-shadow: 0px 0px 4px hsla(0, 3%, 62%, 0.702);
        background: #ffffff;
        padding: 39px 40px 29px 40px;
    }

    .provider_header {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 7px;
        color: #146F62;
        text-transform: uppercase;
        border-bottom: 2px solid #65ABA0;
    }

    .add_provider_text_field {
        margin-bottom: 20px !important;
        padding: 0px 12px;
    }

    .footer {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        // button {
        //     background: #146F62 0% 0% no-repeat padding-box;
        //     box-shadow: 0px 0px 4px #00000099;
        //     border-radius: 4px;
        //     opacity: 1;
        //     width: 209px;
        //     height: 38px;
        //     border: none;
        //     margin-right: 1rem;
        //     color: #FFFFFF !important;

        // }

        .cancel {
            background: transparent;
            box-shadow: none;
            // border-radius: 4px;
            border: none;
            opacity: 1;
            width: 209px;
            height: 38px;
            border: none;
            margin-right: 1rem;
            color: #BC0000 !important;
        }
    }
}


.employee_provider_detail {
    margin-top: 170px;
    // margin-bottom: 126px;
    justify-content: center;
    position: relative;

    .__update_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background: #146F62 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 4px #00000080;
        border-radius: 4px;
        opacity: 1;
        width: 194px;
        height: 36px;
        outline: none;
        top: -58px;
        right: 47px;
        border: none;
        font: normal normal 600 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: absolute;

        &:hover {
            box-shadow: 0px 0px 6px #00000099;
            border-radius: 4px;
            opacity: 1;
        }

        i {
            font-size: 1.2rem;
        }

    }

    .__userImage {
        position: absolute;
        width: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .__userData {
        box-shadow: 0px 0px 4px #000000B3;
        border-radius: 8px;
        background: #FFFFFF;
        margin-right: 11px;
        height: 472px;

        .__body {
            padding: 136px 61px 51px 62px;
            text-align: center;

            .ishead {
                margin-top: 20px !important;
            }

            p {
                color: #707070;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }

            span {
                font-size: 14px;
                color: #707070;
            }
        }

    }
}

.employee_files_details {
    box-shadow: 0px 0px 4px #000000B3;
    border-radius: 8px;
    background: #ffffff;
    padding: 35px 33px 60px 33px !important;
    height: 472px !important;

    .__header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
        color: #178A7B;
        padding-left: 10px;
        // padding-right: 40px;
        text-transform: uppercase;


    }

    .__body {
        .__file {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px dashed #146F62;
            padding: 17px;

            .__name {
                position: relative;
                width: 40%;

                p {
                    font-size: 14px;
                    font-weight: bold;
                    color: #707070;
                }

                span {
                    font-size: 14px;
                    color: #707070;
                }
            }

            .__file_icon {
                display: flex;
                align-items: center;

                img {
                    width: 18px;
                    height: 24px;
                }

                p {
                    font-size: 14px;
                    color: #707070;
                }

                span {
                    color: #707070;
                    font-size: 12px;
                    font-weight: 100;
                }

                .download_icon {
                    width: 15px;
                    margin-bottom: 30px;
                    // height: 7px;
                }
            }

            .noFile {
                font-size: 14px;
                color: #707070;
                text-decoration: underline;
            }
        }
    }

    .no_document {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        i {
            font-size: 50px;
            color: #707070;
        }
    }
}



.vehicleProviderDetails {
    box-shadow: 0px 0px 4px #000000B3;
    border-radius: 8px;
    background: #ffffff;
    padding: 0 !important;
    width: 459px !important;

    .__vehicleImage {
        position: absolute;
        width: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .__vehicleStatus {
        text-align: right;
        color: #0C4523;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }

    .__body {
        display: 'flex';
        justify-content: space-between;
        padding: 84px 46px 35px 19px;
        text-align: center;

        p {
            color: #707070;
            font-weight: bold;
            font-size: 14px;
        }

        span {
            font-size: 14px;
            color: #707070;
        }
    }
}

.upload-doc {
    .document_card {
        padding: 15px !important;
    }

    .main-content {
        .card-body {
            padding: 15px !important;
        }
    }

    .employee-table {
        thead {
            th {
                padding: 0;
                font-size: 14px;
            }
        }

        .row-first-child {
            text-align: left;
        }
    }

    .updata_img_m {
        p {
            font-size: 14px;
            line-height: normal;

            span {
                font-size: 8px;
                font-weight: bold;
            }
        }
    }
}


.provider_container {
    padding: 1.6rem;

    h4 {
        font: normal normal bold 20px/24px Montserrat;
        letter-spacing: 7px;
        color: #146F62;
        opacity: 1;
        margin-bottom: 1rem !important;

    }

    .leftSide {
        display: flex;
        align-items: center;


        p {
            font: normal normal normal 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
            padding-left: 1rem;
        }

        img {
            width: 48px;
            height: 48px;
            box-shadow: 0px 0px 4px #00000066;
            opacity: 1;
            border-radius: 50%;
        }
    }

    .rightSide {
        display: flex;
        align-items: center;

        .circle_status_provider {
            position: absolute;
            top: 21px;
            right: -13px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #21643c;

        }
    }
}

.employee_files_details {
    .no_document {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;

        i {
            font-size: 50px;
            color: #707070;
        }
    }

}

.provider_employee_details {
    padding: 1.6rem;

    h4 {
        font: normal normal bold 20px/24px Montserrat;
        letter-spacing: 7px;
        color: #146F62;
        opacity: 1;
        margin-bottom: 1rem !important;

    }

    .leftSide {
        display: flex;
        align-items: center;


        p {
            font: normal normal normal 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
            padding-left: 1rem;
        }

        img {
            width: 48px;
            height: 48px;
            box-shadow: 0px 0px 4px #00000066;
            opacity: 1;
            border-radius: 50%;
        }
    }

    .rightSide {
        display: flex;
        align-items: center;

        .circle_status_provider {
            position: absolute;
            top: 21px;
            right: -13px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #21643c;

        }
    }

}

// add user Type module
.add_user_type {
    font-family: 'Montserrat' !important;
    justify-content: center;
    align-items: center;
    display: flex;

    .add_provider_content {
        box-shadow: 0px 0px 4px hsla(0, 3%, 62%, 0.702);
        background: #ffffff;
        padding: 0px 40px 29px 40px;
        .space{
            margin-top: 5.5rem;
        }



    }

    .image_upload_container {
        position: relative;

        .image_upload {
            // @include positionrighttop(absolute, -100px, 29%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 160px;
            height: 160px;
            box-shadow: 0px 0px 6px #00000066;
            opacity: 1;
            border-radius: 50%;
            @include flex_center;

            img {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background: white;
            }
        }

        .upload_icon_btn {
            width: 48px;
            height: 48px;
            background: #146F62 0% 0% no-repeat padding-box;
            opacity: 1;
            border-radius: 50%;
            top: 22px;
            right: 33%;
            position: absolute;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            cursor: pointer;

            .height {
                height: 0.7rem;
            }

        }
    }

    .provider_header {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 7px;
        color: #146F62;
        text-transform: uppercase;
        border-bottom: 2px solid #65ABA0;
    }

    .add_provider_text_field {
        margin-bottom: 20px !important;
        padding: 0px 12px;
    }

    .footer {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        // button {
        //     background: #146F62 0% 0% no-repeat padding-box;
        //     box-shadow: 0px 0px 4px #00000099;
        //     border-radius: 4px;
        //     opacity: 1;
        //     width: 209px;
        //     height: 38px;
        //     border: none;
        //     margin-right: 1rem;
        //     color: #FFFFFF !important;

        // }

        .cancel {
            background: transparent;
            box-shadow: none;
            // border-radius: 4px;
            border: none;
            opacity: 1;
            width: 209px;
            height: 38px;
            border: none;
            margin-right: 1rem;
            color: #BC0000 !important;
        }
    }
}
