.work_text {
    p {
        color: red !important;
    }

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.userstable {
    p {
        color: #707070 !important;
        font-size: 12px;
        font-family: 'Montserrat';
    }
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: white;
}

.access_table {
    margin: 10px 0;

    th {
        font-size: 10px;
        text-transform: uppercase;
        font-family: 'Montserrat';
        color: #65ABA0;
        font-weight: 600;
    }

    td {
        font-size: 12px;
        color: #707070;
        font-family: 'Montserrat';
    }

}

.add_workshiftmodal_title {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Montserrat';
    letter-spacing: 7px;
    color: #146F62;
    font-weight: bold;
}

.add_workshiftmodal_body {
    font-size: 14px;
    color: #707070;
    font-family: 'Montserrat';
    text-align: left;

    .text_field {
        width: -webkit-fill-available;
        margin: 10px 10px;
    }
}

.cancleBtn {
    outline: none;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
    background: none;
    height: 2rem;
    width: 100%;
    font-size: 14px;
    color: #BC0000;
}

.shiftmanagement_modal {
    .main_content {
        display: flex;
        flex-direction: column;
        background-color: white;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }

    .title {

        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #65ABA0;
        opacity: 1;

    }

    .body {
        p {
            font-size: 12px;
            margin: 10px !important;
            color: #707070;
            display: flex;
            justify-content: space-between;
        }
    }

    .capsules {
        p {
            display: flex;
            // justify-content: space-between;
            font-size: 14px;
            color: #707070;
            font-family: 'Montserrat';
            background-color: white;
            border: 1px solid;
            box-shadow: 0px 0px 2px #0000004D;
            border-radius: 50px;
            padding: 5px;
            margin: 3px;
            overflow: hidden;
            text-overflow: ellipsis;

            .closeIcon {
                color: white;
                background: #000000;
                border-radius: 50px;
            }
        }

    }

    .applyChanges {
        font-size: 16px;
        text-align: center;
        width: 100%;
        outline: none;
        border: none;
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        background-color: #146f62;
        color: #fff;
        margin-top: 1rem;
        text-transform: uppercase;
    }
}