// All color variables

$error-text-input: #FF0000;
$help-text-input: #f2a100;
$dark: #146F62;
$dark-hover: #114E45;
$shadow: rgba(21, 34, 50, 0.08);
$accent-grey: #E1E1E1;
$grey: #707070;
$background: #FCFCFC;
$primary: #178A7B;
$accent: #65ABA0;
$accent-hover: #4E847C;
$delete-hover: #AC3E3D;
$delete-red: #E24C4B;
$white: #ffffff;