@import '../scss/Common.scss';
@import '../scss/Mixins.scss';

body,
html {
  margin: 0;
  padding: 0;
  background: #FCFCFC;
}

#root {
  background: #FCFCFC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  color: #146f62;
  text-transform: uppercase;

  .headLeft {
    display: flex;
    align-items: center;

    h2 {
      text-transform: uppercase;
      font-weight: 600;
    }

    i {
      font-size: 25px;
      color: #146f62;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        background: #E1E1E1 0% 0% no-repeat padding-box;
        border-radius: 1px;
        opacity: 1;
      }

    }
  }

  .filterPopup {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #146f62;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  button {
    border: none;
    padding: 7px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 213px;
    border-radius: 5px;
    background-color: #146f62;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;

    img {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .employeeDetailHeaderBtn {
    width: 281px;
    height: 44px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #00000080;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

    img {
      margin: 0 5px;
    }
  }
}

.noItem {
  text-align: center;
  width: 80%;
  margin: 4.5rem auto 0 auto;
  padding: 1rem;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 4px #00000099;
}

a {
  @include hover_effect;
}

// .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
//   top: -9px !important;
//   font-size: 14px !important;
// }

// .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
//   padding: 10px !important;
//   font-size: 12px !important;
//   color: #707070 !important;
// }

// .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
//   box-shadow: 0.4rem 0.4rem 0.4rem #0000001a !important;
// }

// .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
//   padding: 5px !important;
// }

// .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
//   padding: 5px !important;
// }

// .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
//   .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
//     box-shadow: none !important;
//   }
// }

// .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
//   font-family: "Montserrat" !important;
// }

// .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:focus {
//   color: #707070;
// }

// .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
//   color: #707070 !important;
// }

// .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
//   font-family: "Montserrat" !important;
// }

.clearIcon {
  z-index: 10;

  width: 100%;
  text-align: right;

  .btn-option {
    margin-top: 5px;
    border: none !important;
    background: $dark;
    // padding: 10px !important;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 4px !important;
    // height: 24px;
    width: 24px;
    // height: 100% !important;
    box-shadow: 0px 1px 4px $shadow;

    &:hover {
      background: $dark-hover 0% 0% no-repeat padding-box !important;

    }

    img {
      vertical-align: middle;
    }

  }
}

.Mui-focused {
  color: #707070 !important;
}

.form-control {
  position: relative;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000059;
  border-radius: 4px;
  opacity: 1;
}

.input-group-btn {
  position: absolute;
  top: 0;
  right: 2%;
}

.tss-58la38-MUIDataTable-paper {
  box-shadow: none !important;
  font-family: Montserrat !important;

  .css-rqglhn-MuiTable-root {
    display: table;
    width: 99% !important;
    border-collapse: collapse;
    border-spacing: 10;
    margin: auto !important;
  }

  thead {
    tr {
      box-shadow: none !important;

      th {
        letter-spacing: 0px;
        color: #65aba0 !important;
        opacity: 1;
        border: none;
        font-weight: 700 !important;
        padding: 5px 0.75rem;
        text-align: center;
        border: none !important;
      }
    }
  }

  .css-1ex1afd-MuiTableCell-root {
    text-align: center !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #707070;
    border-bottom: none !important;

    &:first-child {
      text-align: left !important;
    }
  }

  .tss-tlx3x1-MUIDataTableToolbar-root {
    margin-top: 41px;
    position: relative;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000059;
    border-radius: 4px;
    opacity: 1;
    width: 100%;
    max-width: 100%;
    min-height: auto;

    .tss-qbo1l6-MUIDataTableToolbar-actions {
      display: flex;
      flex-direction: row-reverse;
      font: normal normal 100 16px/19px Montserrat;
      letter-spacing: 0px;
      color: #707070;
    }

    .tss-1h5wt30-MUIDataTableSearch-searchIcon {
      display: none;
    }

    .tss-hj53wm-MUIDataTableToolbar-titleText {
      font: normal normal 100 16px/19px Montserrat;
      letter-spacing: 0px;
      color: #707070;
    }
  }

  .css-9cgc89-MuiTableFooter-root {
    tr {
      box-shadow: none !important;
    }

    .tss-djbknv-MUIDataTablePagination-navContainer {
      justify-content: center !important;

      .css-pdct74-MuiTablePagination-selectLabel {
        display: none;
      }

      .css-194a1fa-MuiSelect-select-MuiInputBase-input {
        display: none;
      }

      .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        display: none;
      }
    }

    .css-levciy-MuiTablePagination-displayedRows {
      &::before {
        content: "page ";
      }
    }
  }
}

.tss-58la38-MUIDataTable-paper .css-1ex1afd-MuiTableCell-root {
  padding: 0px 12px;
}

.css-nfmglb-MuiTableCell-root {
  border: none !important;
}

.tss-1cdcmys-MUIDataTable-responsiveBase {
  overflow: unset !important;
}

.custom_dataTable {
  .table_title {
    display: flex;
    align-items: center;
    grid-gap: 5px;

    h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 5px;
      color: #146f62;
    }

    span {
      text-align: left;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      text-decoration: underline;
      letter-spacing: 0px;
      color: #000000;
    }
  }
}

.languageSelectorOption {
  .dropdown-menu {
    padding: 0 !important;
    box-shadow: 0px 0px 5px -1px grey;
    border-radius: 5px;
    transform: translate3d(184px, -90.6px, 42px) !important;
  }

  .dropdownDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px !important;

    &:hover {
      background-color: lightgray;
    }

    i {
      font-size: 20px;
      font-weight: bold;
    }

    span {
      font-size: 12px;
    }

    img {
      width: 30px;
      height: 20px;
    }
  }
}

// select with search component overwright
.css-1ww3498-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 0rem !important;
}

// custom not found data with warning
.not_found_waring {
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px $shadow;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: ;
  padding: 1rem 0rem;
  gap: 2.6rem;
  width: 100% !important;
  // height: 100% !important;

  p {
    color: $delete-red !important;
    font-size: 48px !important;
    font-weight: 300 !important;

  }

  .warning {

    opacity: 1;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BC0000;
    border: 4px solid #BC0000;

    i {
      font-size: 1.5rem;
    }
  }
}

// global divider 
.css-1ws8119-MuiDivider-root::before,
.css-1ws8119-MuiDivider-root::after {

  border-top: 3px solid #707070 !important;
  opacity: 1;
}

// set all field border globally
// .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
//   border: 2px solid #707070 !important;
//   border-radius: 6px !important;
// }

// opacity of modal controlled way globally
.modal-backdrop.show {

  opacity: 0.6 !important;
}



$bold: 600;\dashboard\employee\contractors

// Top left arrow container
.top-left-arrow-container {
  display: flex;
  align-items: center;
  vertical-align: center;
  background-color: $background;
}

.btn-left-arrow {
  border: none !important;
  background: $background !important;
  background-color: $background;
  width: 32px !important;
  height: 32px !important;
  vertical-align: center;
  &:hover {
      background: #E1E1E1 0% 0% no-repeat padding-box !important;
      border-radius: 2px;
  }

}

.container-top-right-btns {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 0px;
}

.import-file-btn-1 {
  background: #65ABA0 !important;
  border-radius: 4px !important;
  box-shadow: 0px 0px 4px #707070 !important;
  opacity: 1 !important;
  color: #FFFFFF !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 50px !important;
  width: auto !important;
  border: none !important;
  padding: 0 12px 0px 12px !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: $bold !important;
  font: normal normal bold 14px/18px Montserrat !important;

  &:hover {
    background: #60A0A0 !important;
  }
}

.add-btn-1 {
  background: #146F62 !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  box-shadow: 0px 0px 4px #707070 !important;
  color: #FFFFFF !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 50px !important;
  width: auto !important;
  border: none !important;
  padding: 0 12px 0px 12px !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: $bold !important;
  font: normal normal bold 14px/18px Montserrat !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &:hover {
    background: $dark-hover !important;
  }
}

.delete-btn-1 {
  background: #E24C4B !important;
  border-radius: 4px !important;
  opacity: 0.3; // opacidad por defecto
  box-shadow: 0px 0px 4px #707070;
  color: #FFFFFF !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 50px !important;
  width: auto !important;
  border: none !important;
  padding: 0 12px 0px 12px !important;
  cursor: default !important;
  text-transform: uppercase !important;
  // font-size: 16px !important;
  // font-weight: $bold !important;
  font: normal normal bold 14px/18px Montserrat !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &:not([disabled]) {
    opacity: 1; // si no está deshabilitado, opacidad 1

    &:hover {
      background: #D04040 !important;
      cursor: pointer !important;
    }
  }


}

.unlink-btn-1 {
  background: #BC0000 !important;
  border-radius: 4px !important;
  opacity: 0.3; // opacidad por defecto
  box-shadow: 0px 0px 4px #707070;
  color: #FFFFFF !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 50px !important;
  width: auto !important;
  border: none !important;
  padding: 0 12px 0px 12px !important;
  cursor: default !important;
  text-transform: uppercase !important;
  // font-size: 16px !important;
  // font-weight: $bold !important;
  font: normal normal bold 14px/18px Montserrat !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  i{
    font-size: 18px;
  }

  &:not([disabled]) {
    opacity: 1; // si no está deshabilitado, opacidad 1

    &:hover {
      background: #D04040 !important;
      cursor: pointer !important;
    }
  }


}
.filter-btn-1 {
  background: #146F62 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  gap: 1.5rem;

  &:hover {
    background: $dark-hover !important;
  }
}

// custom Cancel button with hover
.custom_btn_cancel_gray_hover {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  height: 35px;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #BC0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
}

// Cancel button with color background and hover
.btn_cancel_background_gray_hover {
  background: $background 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  height: 35px;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #BC0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
}

// custom main form button with hover
.custom_primary_btn_dark {
  background: #146F62 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  gap: 1.5rem;

  &:hover {
    box-shadow: 0px 0px 6px #00000099;
    border-radius: 4px;
    opacity: 1;
  }

}

// custom hover back link
.custom_hover_back_link {

  i {
    // padding-left: 5px;
    // padding-right: 8px;
    // border-radius: 4px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.link {
  &:hover {
    background: #0000001A;
    border-radius: 5px;
  }

}

//global TAP for dashboard panel Modules
.active_tap {
  background: #E1E1E1 0% 0% no-repeat padding-box;
  border-radius: 1px;
  z-index: 60;
}

.deactive_tap {
  border-bottom: 3px solid #707070 !important;
  z-index: 60 !important;
}

.steps-global {
  width: 100%;
  border-radius: 0;
  padding-bottom: 0 !important;
  text-transform: uppercase;
  z-index: 60;

  span {
    text-align: center;
    font-size: 18px;
    letter-spacing: 10px;
    color: #707070;
    opacity: 1;
  }
}

.btn-bordered-global {
  margin-bottom: -5px;
  border-bottom: 5px solid #146f62 !important;
  z-index: 60;
  // margin-bottom: -24px;
  // margin-bottom: -24px;

  span {
    text-align: center;
    letter-spacing: 10px;
    color: #146f62 !important;
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
  }
}

// tap hover global

.tap_hover {


  &:hover {
    background: #E1E1E1 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
  }

}

// global animation for div
@keyframes move-right {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0);
  }
}

.animated-div {
  animation: move-right 1s ease-in-out forwards;
}

// loader on full page

.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999 !important;
  background-color: #f8f8f8ad;

  .loader_div {
    left: 50%;
    top: 40%;
    z-index: 999 !important;
    position: absolute;

  }

}

.checkbox {
  cursor: pointer;
}

// global style for approve doc table
.approve_doc_table {

  width: 100%;
  border-collapse: collapse !important;
  border-spacing: 0 15px;

  thead {
    position: sticky !important;
    top: -35px;
    height: 40px;
    background: #fff;

    .first_head {
      text-align: left !important;
      padding-left: 1rem;

    }

    th {
      font: normal normal bold 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #178A7B;
      opacity: 1;
      padding: 0rem 1rem 0rem 0rem;
      text-align: center;
    }

  }

  tbody {
    tr {
      border-bottom: 2px dashed #146F62;
    }

    td {
      padding: 0.8rem 1rem 0.8rem 0rem;
      text-align: center;
    }

    .first {
      text-align: left !important;
      padding-left: 1rem;
      color: #707070;
      font-weight: bold;
      // width: 250px;


      p {
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        padding-left: 0.5rem;

      }

      strong {
        font: normal normal bold 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
      }
    }

    .files {
      display: flex;
      align-items: center;
      position: relative;
      gap: 0.3rem;
      // img {
      //   width: 18px;
      //   height: 18px;
      // }

      p {
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;

        span {
          font: normal normal 100 12px/15px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
        }
      }

      .d_icon {
        right: 0px;
        position: absolute;
        top: -8px;
      }
    }

    .no_file {
      font: normal normal normal 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      text-decoration: underline;
    }

    .headText {
      font: normal normal normal 10px/13px Montserrat;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
    }

    .status {
      img {
        width: 18px;
        height: 18px;
      }

      .headline {
        font: normal normal normal 10px/13px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        text-transform: uppercase;
        opacity: 1;
      }

      .baseline {
        font: normal normal 600 10px/13px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        text-transform: uppercase;
        opacity: 1;
      }
    }

    .comment {
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0px;
      color: #E24C4B;
      opacity: 1;
      max-width: 150px;
    }

  }

  .last {
    text-align: right !important;
    padding-right: 1rem;
  }


}

// globle style for upload document status id 3
.documents_status_three_container {
  .documents_status_section {
    padding-top: 2rem;
    position: relative;

    .title {

      font: normal normal 600 32px/39px Montserrat;
      letter-spacing: 0px;
      color: #146F62;
      text-transform: uppercase;
      opacity: 1;
      text-align: center;
      padding-bottom: 6px;

    }

    .tagline {
      text-align: center;
      font: normal normal normal 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #F2A100;
      opacity: 1;
      padding-bottom: 1.25rem;

    }

    .delete-btn-1 {
      position: absolute;
      top: 52px;
      right: 2px;
    }


  }
}

.documents_status_item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #000000B3;
  border-radius: 4px;
  opacity: 1;
  padding: 0.5rem;
  height: 74vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .document_header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    .document_title {
      font: normal normal bold 18px/22px Montserrat;
      letter-spacing: 5.4px;
      color: #146F62;
      opacity: 1;
      padding: 0.5rem 0rem 1rem 1rem;
    }
  }
  

  // this table style is with set field
  .approve_doc_table_with_setField {
    
    width: 100%;
    border-collapse: collapse !important;
    border-spacing: 0 15px;

    thead {
      position: sticky !important;
      top: -9px;
      height: 42px;
      background: #fff;
      z-index: 2;

      .first_head {
        text-align: left !important;
        padding-left: 1rem;

      }

      th {
        font: normal normal bold 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #178A7B;
        opacity: 1;
        padding: 0rem 1rem 0rem 0rem;
        text-align: center;
      }

    }

    tbody {
      tr {
        border-bottom: 2px dashed #146F62;
      }

      td {
        padding: 0.8rem 1rem 0.8rem 0rem;
        text-align: center;
      }


      .first {
        text-align: left !important;
        padding-left: 1rem;
        color: #707070;
        font-weight: bold;
        // width: 250px;


        p {
          font: normal normal normal 12px/18px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          padding-left: 0.5rem;

        }

        strong {
          font: normal normal bold 14px/18px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
        }
      }

      .files {
        display: flex;
        align-items: center;
        position: relative;
        gap: 0.3rem;
        // img {
        //   width: 18px;
        //   height: 18px;
        // }

        p {
          font: normal normal normal 14px/18px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;

          span {
            font: normal normal 100 12px/15px Montserrat;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
          }
        }

        .d_icon {
          right: 0px;
          position: absolute;
          top: -8px;
          cursor: pointer;
          @include hover_effect;
        }
      }

      .no_file {
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        text-decoration: underline;
      }

      .headText {
        font: normal normal normal 10px/13px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
      }

      .status {
        img {
          width: 18px;
          height: 18px;
        }

        .headline {
          font: normal normal normal 10px/13px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          text-transform: uppercase;
          opacity: 1;
        }

        .baseline {
          font: normal normal 600 10px/13px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          text-transform: uppercase;
          opacity: 1;
        }
      }

      .comment {
        font: normal normal normal 12px/15px Montserrat;
        letter-spacing: 0px;
        color: #E24C4B;
        opacity: 1;
        max-width: 150px;
      }

      .doc_name_with_attach {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-bottom: 0.5rem;

        .attach_file {
          text-decoration: underline;
          font: normal normal normal 14px/18px Montserrat;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
          padding: 0.2rem;
          cursor: pointer;
          @include hover_effect;

          i {
            font-weight: bold;
            font-size: 18px;
            transform: rotate(90deg);
          }
        }

      }

      .download_buttom {
        text-decoration: underline;
        font: normal normal normal 12px/15px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        padding: 0.2rem;
        cursor: pointer;
        margin-left: 1.5rem !important;
        display: inline-block;
        @include hover_effect;
      }

      .input_field_with_btn_right {
        display: flex;
        align-items: center;
        position: relative;

        button {
          background: #146F62;
          position: absolute;
          top: 0px;
          right: 1px;
          width: 36px;
          height: 40px;
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          color: #ffffff;

          &:hover {
            background: #106060 !important;
          }
        }

      }

      .input_field_with_btn_left {
        display: flex;
        align-items: center;
        position: relative;

        button {
          background: #146F62;
          position: absolute;
          top: 0px;
          left: 1px;
          width: 36px;
          height: 40px;
          border: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          color: #ffffff;

          &:hover {
            background: #106060 !important;
          }
        }

      }


    }

    .last {
      text-align: right !important;
      padding-right: 1rem;
    }


  }
}

// global file Upload Modal
.files_upload_conatiner {

  .header_top {
    position: relative;

    .modal-title {
      width: 100%;
      margin-top: 20px;
      font: normal normal bold 20px/24px Montserrat;
      letter-spacing: 7px;
      color: #146F62;
      opacity: 1;
      text-align: center;
    }

    .cross {
      position: absolute;
      top: 2px;
      right: 2px;
      color: red;
      padding: 0.15rem;
      cursor: pointer;

      &:hover {
        background: #f4f4f4;
      }
    }
  }

  .drop_zone_area {
    border: 1px dashed #707070B3;
    border-radius: 4px;
    opacity: 1;

    .drop_zone_item {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      align-items: center;

      p {
        font: normal normal normal 14px/10px Montserrat;
        color: #707070B3;
        line-height: 1.25;
        text-align: center;

        span {
          font: normal normal bold 8px/10px Montserrat;
          color: #707070B3;
        }
      }
    }
  }

  .preview_image {
    margin-top: 1.2rem;
    width: 100%;
    height: 139px;
  }

  .preview_file {
    padding: 1rem 0rem;

    .preview_file_item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 01rem;

      .time_line {
        font: normal normal 100 14px/18px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
      }

      .file_type {
        font: normal normal normal 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
      }

      i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.1rem;
        cursor: pointer;
        @include hover_effect;
      }

    }
  }

  .footer {
    margin-top: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// custom Text with Line
.headline_with_line {
  display: flex;
  align-items: center;

  span {
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 4.5px;
    color: #146F62;
    opacity: 1;

  }

  .centerline {
    border-top: 3px solid #146F62;
    opacity: 1;
    border-radius: 8px;
    width: 100%;
  }
}

//custum class for status identication
.status_indication {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: absolute;
  top: 0;
  right: 3px;

  span {
    font: normal normal bold 16px/19px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #0C4523;

    &.red {
      color: red;
    }
  }

  .circle_icon {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #0C4523 0% 0% no-repeat padding-box;

    &.red {
      background: red 0% 0% no-repeat padding-box;
    }
  }

}

// text default font 12 to 15px and gray
.text_size_12 {
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

// clean all
.clear_all {
  @include positionrighttop(absolute, 4px, 4px);
  background: #146F62 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000059;
  border-radius: 4px;
  opacity: 1;
  width: 24px;
  height: 24px;
  border: none;
  @include flex_center;
}


// global css for default scolling effect
::-webkit-scrollbar {
  width: 6px;  // Set the width of the scrollbar
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  // Set the background color of the scrollbar track
}

::-webkit-scrollbar-thumb {
  background: #146F62;  // Set the color of the scrollbar thumb
}

::-webkit-scrollbar-thumb:hover {
  background: #114E45;  // Set the color of the scrollbar thumb on hover
}









