// custom head
.custom_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;


    .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            color: #146F62;
            font-size: 32px;
        }

        p {
            font: normal normal 600 32px/39px Montserrat;
            letter-spacing: 0px;
            color: #146F62;
            opacity: 1;
        }

        .link {
            text-decoration: underline;
            font: normal normal normal 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            // font-weight: bold;
            margin-top: 0.5rem;
            padding: 0 0.5rem 0 0.5rem;
        }

        .link:hover {
            background: #0000001A;
            border-radius: 5px;
        }
    }

    .right {
        .button {
            background: #146F62 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000080;
            border-radius: 4px;
            opacity: 1;
            font: normal normal bold 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF !important;
            border: none;
            padding: 0.5rem 0.5rem;

            i {
                margin-left: 0.5rem;
            }
        }
    }
}

//payrol
.payroll_container {
    padding-top: 2.5rem;
    // padding-right: 2.5rem;
    // padding-left: 2.5rem;

    p {
        font: normal normal bold 20px/24px Montserrat;
        letter-spacing: 7px;
        color: #146F62;
        opacity: 1;
    }

    .payroll_menubar {
        margin-top: 1rem;

        .searchBtn {
            background: #707070 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000080;
            border-radius: 4px;
            opacity: 1;
            width: 139px;
            height: 45px;
            font: normal normal bold 16px/19px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;

            i {
                margin-left: 0.5rem;
            }
        }

        .execBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            // background: #E1E1E1 0% 0% no-repeat padding-box;
            border: 0.5px solid #707070;
            border-radius: 8px 0px 0px 8px;
            opacity: 1;
            // width: 60px;
            // height: 34px;
            width: 60px;
            height: 48px;

            img {
                width: 24px;
                height: 23px;
            }

        }

        .pdfBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            // background: #707070B3 0% 0% no-repeat padding-box;
            border: 0.5px solid #707070;
            border-radius: 0px 8px 8px 0px;
            opacity: 1;
            // width: 60px;
            // height: 34px;
            width: 60px;
            height: 48px;

            img {
                width: 24px;
                height: 23px;
            }
        }

        .execBtn:hover {
            background: #707070B3 0% 0% no-repeat padding-box;
        }

        .pdfBtn:hover {
            background: #E1E1E1 0% 0% no-repeat padding-box;
        }
    }


    .payroll_table_content {
        padding: 0rem 0.5rem;
        margin-top: 1.5rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: auto;
        height: 365px;


        table {
            border-collapse: separate !important;
            border-spacing: 0 15px;

            thead {
                th {
                    font-size: 14px;
                    color: #65aba0;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            // .first {
            //     text-align: left !important;
            //     padding-left: 1rem;
            // }

            .first-head {
                text-align: left !important;
                padding-left: 1rem;
            }

            .first {
                text-align: left !important;
                padding-left: 1rem;
                font: normal normal bold 14px/18px Montserrat;
                letter-spacing: 0px;
                color: #707070;
                opacity: 1;
            }

            .limited-text {
                max-width: 112px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .last {
                text-align: right !important;
                padding-right: 1rem;

                img {
                    cursor: pointer;
                }

                .dropdown-menu.show {
                    inset: -16% auto auto 11%;
                    transform: translate(0px, 25px);
                    padding: 20px;
                    width: 216px;
                    height: 99px;
                    border-radius: 15px;

                    .dropdownDiv {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            width: 14px;
                            height: 14px;
                            margin-right: 0.5rem;
                        }

                        span {
                            font: normal normal normal 14px/18px Montserrat;
                            letter-spacing: 0px;
                            color: #000000;
                            opacity: 1;
                        }
                    }
                }
            }

            tr {
                box-shadow: 0px 0px 4px #7070704D;
                border-radius: 4px;
                opacity: 1;
                height: 36px;

                td {
                    text-align: center;
                }
            }
        }





    }

    .payroll_table_content::-webkit-scrollbar {
        display: none;
    }

    .payroll_table_content {
        thead {
            th {
                position: sticky;
                top: -8px;
                z-index: 1;
                background: white;
                height: 36px;
            }
        }

    }

    .payroll_pagination {}
}

// manage Attendence
.manage_attendence_container {
    padding-top: 1rem;

    .css-a811cr-MuiAutocomplete-root .MuiOutlinedInput-root {
        padding: 0px;
    }

    .device {
        padding: 0rem 1rem 0rem 0rem;
        margin-top: 1rem;

        h4 {
            font: normal normal bold 20px/24px Montserrat;
            letter-spacing: 7px;
            color: #146F62;
            opacity: 1;
        }

        .device_card {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 2px #000000B0;
            border-radius: 12px;
            opacity: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem 1rem;
            margin-bottom: 0.6rem;

            P {
                font: normal normal normal 12px/15px Montserrat;
                letter-spacing: 0px;
                color: #707070;

                span {
                    font: normal normal normal 12px/15px Montserrat;
                    font-weight: bold;
                    letter-spacing: 0px;
                    color: #707070;
                }

            }

            i {
                font-size: 20px;
                color: #bc0000;
                padding: .2rem;
                // position: absolute;
                // top: 0;

            }

            i:hover {
                background: #0000001A;
                border-radius: 5px;
                padding: .2rem;
                cursor: pointer;
            }
        }
    }

    .receiver {
        padding: 0rem 1rem;
        margin-top: 1rem;
        border-left: 3px solid #146F62;

        h4 {
            display: flex;
            justify-content: end;
            font: normal normal bold 20px/24px Montserrat;
            letter-spacing: 7px;
            color: #146F62;
            opacity: 1;

        }

        h2 {
            font: normal normal bold 12px/15px Montserrat;
            letter-spacing: 0px;
            color: #707070;
        }

        p {
            font: normal normal normal 12px/15px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }

        .receiver_table_content {
            padding: 0rem .5rem;
            padding-top: 0.5rem;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow: auto;
            height: 272px;


            table {


                i {
                    font-size: 16px;
                    color: #bc0000;
                    padding: .2rem;

                }

                i:hover {
                    background: #0000001A;
                    border-radius: 5px;
                    padding: .2rem;
                    cursor: pointer;
                }

                border-collapse: separate !important;
                border-spacing: 0 15px;

                thead {
                    th {
                        font-size: 14px;
                        color: #65aba0;
                        text-transform: uppercase;
                        text-align: center;

                    }
                }

                .first {
                    text-align: left !important;
                    padding-left: 1rem;
                }

                .last {
                    text-align: right !important;
                    padding-right: 1rem;

                    img {
                        cursor: pointer;
                    }

                    .dropdown-menu.show {
                        inset: -16% auto auto 11%;
                        transform: translate(0px, 25px);
                        padding: 20px;
                        width: 216px;
                        height: 99px;
                        border-radius: 15px;

                        .dropdownDiv {
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            img {
                                width: 14px;
                                height: 14px;
                                margin-right: 0.5rem;
                            }

                            span {
                                font: normal normal normal 14px/18px Montserrat;
                                letter-spacing: 0px;
                                color: #000000;
                                opacity: 1;
                            }
                        }
                    }
                }

                tr {
                    box-shadow: 0px 0px 2px #000000C7;
                    border-radius: 8px;
                    opacity: 1;
                    height: 45px;

                    td {
                        text-align: center;
                    }
                }
            }

        }

        .receiver_table_content::-webkit-scrollbar {
            display: none;
        }

        .receiver_table_content {
            thead {
                th {
                    position: sticky;
                    top: -8px;
                    z-index: 1;
                    background: white;
                    height: 36px;
                }
            }

        }
    }

    .save_button {


        button {
            background: #146F62 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000080;
            border-radius: 4px;
            opacity: 1;
            width: 641px;
            height: 41px;

            border: none;
            font: normal normal bold 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            i {
                margin-left: 1rem;
                font-size: 20px;
            }
        }
    }
}

// email setting
.email_setting_container {
    padding-top: 2.5rem;
    padding-left: 9rem;
    padding-right: 14rem;

    h4 {
        font: normal normal bold 20px/24px Montserrat;
        letter-spacing: 7px;
        color: #146F62;
        opacity: 1;
    }

    .span {
        background-color: #146F62;
        height: 3px;
        width: 100%;
    }

    .email_footer {

        display: flex;
        justify-content: end;
        margin-top: 3rem;

        button {
            background: #146F62 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 4px #00000080;
            border-radius: 4px;
            opacity: 1;
            font: normal normal bold 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            border: none;
            width: 341px;
            height: 34px;
        }
    }

    .input-icons {
        position: absolute;
        top: 4px;
        right: 17px;
    }
}

// modal

.filter_device_model {


    .css-bo2ymy-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {

        font-size: 1rem !important;
    }

    .fiter_event_model_head {

        .modal-content {
            width: 419px !important;
        }

        // margin-top: 1rem;
        .title {
            font: normal normal bold 20px/24px Montserrat;
            letter-spacing: 7px;
            color: #146F62;
            opacity: 1;
            margin-top: 22px;
            text-align: center;
            width: 100%;
        }

        // .desc {
        //     text-align: center;
        //     letter-spacing: 0px;
        //     color: #707070;
        //     opacity: 1;
        //     font-size: 14px;
        // }

        h4 {
            color: #000000;
            font-size: 28px;
            font-weight: bold;
        }

        i {
            font-size: 1.5rem;
            color: #bc0000;
        }


    }

    .title {
        text-align: center;
        font: normal normal normal 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        margin-bottom: 2rem !important;
    }

    .filter_event_model_body {
        border-top: 2px solid #178a7b;

        p {
            color: #707070;
            font-size: 1rem;
        }

        .filter_event_model_form {
            display: flex;
            flex-direction: column;

            select {
                border: 2px solid #707070;
                border-radius: 4px;
                background: #ffffff 0% 0% no-repeat;
                padding: 0.6rem;
                border: 1.5px solid #707070;
                margin-top: 1rem;
            }
        }
    }
}

// .modal-backdrop {
//     background-color: #00000040 !important;
// }